page-about {

    .right {
        float: right;
        margin-top: -37px;
    }

    .my {
        text-align: center
    }

    .tracks {
        font-family: open-sans;
        font-size: 14px;
        color: #b7c4cb;
        margin-top: -10px;
    }

    .box {
        position: relative;
    }

    .player {
        position: relative;
        left: 33vw;
        top: 5.5vh;
    }

}
