page-contact {
    .header-image {
        background-image: url('../assets/imgs/newsfeed.jpg');
        height: 50vh;
    }

    .main-content {
        padding: 20px;
        background-color: white;
    }
}
